.boardContainer {
  color: white;
  width: 100%;
  /* max-width: 800px; */
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 100vh;
  justify-content: space-around;
}

.wordContainer {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.charContainer {
  width: 40px;
  aspect-ratio: 4/5;
  border-radius: 5px;
  background-color: white;
  color: white;
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 2rem;
}

.greenChar {
  background-color: #34bf3b;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redChar {
  background-color: #ff4545;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackChar {
  background-color: #000;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.definition {
  max-width: 600px;
  margin-top: 20px;
  padding: 0px 10px;
  display: flex;
  flex: auto;
  overflow-y: auto;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}

.manual {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  margin-bottom: 20px;
}

.manualItem {
  border-color: aliceblue;
  padding: 2px 6px;
  margin: 4px;
}

.congratulation {
  font-size: 1rem;
  color: #78ff69;
}

.keyboardContainer {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 4px 0px;
  padding: 0px 4px;
}

.keybaordChar {
  background-color: rgb(48, 48, 47);
  width: 40px;
  aspect-ratio: 4/5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  user-select: none;
  font-size: 1.5rem;
}

.keybaordCharWider {
  background-color: rgb(48, 48, 47);
  width: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  user-select: none;
  font-size: 1.5rem;
}

.keybaordFunc {
  background-color: rgb(48, 48, 47);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  user-select: none;
  font-size: 1rem;
}

.selectComponent {
  width: 80px;
  height: 30px;
  margin-left: 10px;
  margin-right: 5px;
  padding-left: 5px;
  font-size: 0.8rem;
  color: black;
  background-color: white;
  border-radius: 4px;
  border-width: 1px;
  border-color: black;
  position: relative;
  font-weight: 500;
}

.headContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 60px;
  min-height: 60px;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 15px;
}

.displayNarrow {
  display: none;
}

.displayWider {
  display: block;
}

@media only screen and (max-width: 657px) {
  .keyboardContainer {
    display: flex;
    z-index: 999;
    background-color: black;
  }

  .charContainer {
    width: 35px;
    margin: 4px;
    font-size: 1.8rem;
  }

  .manual {
    display: none;
  }
}

  .headContainer {
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 60px;
    min-height: 60px;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 15px;
  }

  .selectComponent {
    top: 0px;
    margin: 0;
  }

  .boardContainer {
    padding-top: 0px;
  }

  .displayNarrow {
    display: block;
  }

  .displayWider {
    display: none;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 500;
    color: transparent;
    background: linear-gradient(
      220deg,
      #186cb8 19%,
      transparent 19%,
      transparent 20%,
      #2a9a9f 20%,
      #2a9a9f 39%,
      transparent 39%,
      transparent 40%,
      #f98d00 40%,
      #f98d00 59%,
      transparent 59%,
      transparent 60%,
      #e83611 60%,
      #e83611 79%,
      transparent 79%,
      transparent 79%,
      #f1b211 80%
    );
    -webkit-background-clip: text;
  }