.boardContainer {
  color: white;
  width: 80%;
  max-width: 800px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.wordContainer {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  justify-content: center;
}

.charContainer {
  width: 40px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color: white;
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 2rem;
}

.greenChar {
  background-color: #34bf3b;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.redChar {
  background-color: #ff4545;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.definition {
  max-width: 400px;
  margin-top: 20px;
}

.title {
  font-size: 3rem;
  font-weight: 600;
}

.subTitle {
  font-size: 1rem;
  margin-bottom: 30px;
}
